<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tooltip/paper-tooltip.html">

<dom-module id="ssf-socket-latency">
  <template>
    <style>
      :host {
        display: inline-block;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin-bottom: -1px;
        border: 1px solid #F00;
        background: rgba(255, 205, 205, .5);
        position: relative;
      }
      :host([opened]) {
        border: 1px solid #0F0;
        background: rgba(204, 255, 205, .5);
      }
      :host([opened][high-latency]) {
        border: 1px solid #FF0;
        background: rgba(255, 255, 205, .5);
      }
      :host([not-in-room]) {
        border: 1px solid #CCC;
        background: #EEE;
      }
      div {
        width: 100%;
        height: 100%;
      }
      [hidden] {
        display: none;
      }
    </style>

    <paper-tooltip animation-delay="0" offset="4">
      <span hidden$="[[!opened]]">
        <span hidden$="[[!notInRoom]]">Not in room</span>
        <span hidden$="[[notInRoom]]"><div>Latency: [[latency]]ms</div><div hidden$="[[!missedHeartbeats]]">Missed beartbeats: [[missedHeartbeats]]</div></span>
      </span>
      <span hidden$="[[opened]]">Not connected to server</span>
    </paper-tooltip>
  </template>

  <script>
    /**
     * `ssf-socket-latency`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SSFSocketLatency extends Polymer.Element {
      static get is() { return 'ssf-socket-latency'; }
      static get properties() {
        return {
          latency: {
            type: Number,
            value: 0
          },
          opened: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          missedHeartbeats: {
            type: Number,
            value: 0
          },
          highLatency: {
            type: Boolean,
            reflectToAttribute: true,
            computed: "_computeLatency(latency,missedHeartbeats)"
          },
          notInRoom: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        }
      }

      _computeLatency(latency,missedHeartbeats) {
        return missedHeartbeats || latency>200;
      }

    }

    window.customElements.define(SSFSocketLatency.is, SSFSocketLatency);
  </script>
</dom-module>