<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="ssf-socket-room-mixin.html">

<dom-module id="ssf-socket-room">
  <script>
    /**
     * `ssf-socket-room`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SSFSocketRoom extends Polymer.SSFSocketRoomMixin(Polymer.Element) {
      static get is() { return 'ssf-socket-room'; }
    }

    window.customElements.define(SSFSocketRoom.is, SSFSocketRoom);
  </script>
</dom-module>