<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="ssf-socket-mixin.html">

<dom-module id="ssf-socket">
  <script>
    /**
     * `ssf-socket`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SSFSocket extends Polymer.SSFSocketMixin(Polymer.Element) {
      static get is() { return 'ssf-socket'; }
    }

    window.customElements.define(SSFSocket.is, SSFSocket);
  </script>
</dom-module>